<!-- File: /app/View/Posts/sell.ctp -->

<html>
<head>
    <!-- Bootstrap core CSS -->
        <?php
        echo $this->Html->css('bootstrap');
        echo $this->Html->css('style');
        ?><!-- Custom styles for this template -->
        <?php
        echo $this->Html->css('signin');
        echo $this->Html->css('search');
        echo $this->Html->css('results');
        echo $this->Html->css('responsive-menu-style');
        ?>

    <title></title>
</head>

<body>
    <!-- <table>
        <tr height="500px">
            <td>
                <div class="container">

                </div><!-- /container -->
            </td>
        </tr>
    </table> -->
    <div class="container-fluid">
        <h2 class="page-header">ABOUT US</h2>
        <center><img src="<?php echo $this->webroot.'img/contact.png' ?>"></center>
    </div>
</body>
</html>
